<aside id="footer-widgets">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Additiona Information</h3>
				<hr/>
				<div class="two-col">
					<div class="col-left">
						<ul>
							<li><a href="http://www.odania-it.com/de/imprint">Imprint</a></li>
							<li><a href="www.petersen.work">Mike Petersen</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>

				<hr/>
				<div class="social">
					<a href="https://www.facebook.com/pages/Odania-IT/113349882108655" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="https://twitter.com/OdaniaIT" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="https://plus.google.com/110850943371659722554/posts" target="_blank">
						<i class="fa fa-google-plus"></i>
					</a>
					<a href="https://www.linkedin.com/in/mikepetersen79" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>

				</div>
			</div>
			<div class="col-md-4">
				<div class="footer-widget">
					<h3>About me</h3>
					<hr/>
					<p style="font-size: 14px;">
						I am a programmer for more than 10 years now.
						Most pages have a lot in common and i did not want to repeat myself over and over.
						That is why i created the Odania Portal.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="footer-widget">
					<h3>Partners</h3>
					<hr/>
					<div class="two-col">
						<div class="col-left">
							<ul>
								<li><a href="http://www.onlinegames-info.com">The Onlinegaming Community</a></li>
								<li><a href="http://www.perfect-reach.com/">Perfect Reach - Free Online Advertising</a>
								</li>
							</ul>
						</div>
						<div class="col-right">
							<ul>
								<li><a href="http://www.planetech.de/">Planetech - SciFi Browsergame</a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</aside>
<!-- footer-widgets -->

<footer id="footer">
	<a href="http://www.odania-it.com">&copy;2016 Mike Petersen Odania IT</a>

	<span class="pull-right"><a href="http://www.odania.com" target="_blank">powered by Odania Portal</a></span>
</footer>
