<div id="footer">
	<div class="container">
		<p class="navbar-text pull-left">
			(c) Mike Petersen <a href="http://www.odania-it.com">Odania IT</a>
		</p>

		<a href="http://www.odania-it.com/de/imprint" class="pull-right">
			Imprint
		</a>

	</div>
</div>
